= link_to("Back to menu", admin_path, :class => 'back-link')
.users.delete 
  h2 Delete user 
  = simple_form_for(@user, :method => 'delete') do |f|
    p Are you sure you want to permanently delete this user?
    p.reference-name=  f.object.name 
    .form-buttons 
      = f.button :submit, "Delete user", class: "btn-primary"