<%= link_to("Back to menu", admin_path, :class => 'back-link') %>

<div class="users delete">
    <h2>Delete user</h2>

    <%= form_for(@user, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this user?</P>

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
        <%= f.submit("Delete user") %>
    </div>

    <% end %>
</div>