<%= link_to("Back to menu", admin_path, :class => 'back-link') %>

<div class="admin-users edit">
    <h2>Update user</h2>

    <%= simple_form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= f.button :submit, "Update user", class: "btn-primary" %>
    </div>

    <% end %>
</div>