<%= link_to("Back to menu", admin_path, :class => 'back-link') %>

<div class="users new">
    <h2>Create user</h2>
    
    <%= form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= f.submit("Create admin user") %>
    </div>

    <% end %>
</div>