<div class="menu">
    <h2>Admin menu</h2>
    <div class="identify">Logged in as: "<%= @username %>"</div>
    <ul>
        <li><%= link_to("Manage announcements", announcements_path) %></li>
        <li><%= link_to("Manage users", users_path) %></li>
        <li><%= link_to("Logout", access_logout_path) %></li>
    </ul>
</div>