<div class="tags new">
    <%= simple_form_for(@tag) do |f| %>

    <table summary="Content form field">
    <tr>
        <th><%= f.input :tag %></th>
    </tr>

    <tr>
        <th><%= f.input :announcement_id, :as => :hidden %></th>
    <tr>

    </table>

    <div class="form-buttons">
        <%= f.button :submit, "Create tag", class: "btn-primary" %>
    </div>
    
    <% end %>
</div>